body
{
	background-color: DarkCyan;
	font-family: 'Century Gothic';
	color: LemonChiffon;
	text-align: center;
}
h1
{
	padding-top:50px;
	padding-bottom:0px;
	font-size:50px;
	text-decoration:underline;
}
p
{
	font-size:20px;
}

#question
{
	font-size: 30px;
	font-style:bold;
}
#answers
{
	font-size: 12px;
	padding: none;
}

#choice
{
	display: inline-block;
}

#phraseA
{
	text-align:left;
	display: inline-block;
	padding-right:23px;
	padding-left:30px;
}

#phraseB
{
	text-align:right;
	display: inline-block;
	padding-left:40px;
}

#phraseC
{
	text-align:left;
	display: inline-block;
	padding-left:50px;
}

#phraseD
{
	text-align:right;
	display: inline-block;
	padding-left:20px;
}

#phraseA2
{
	text-align:left;
	display: inline-block;
	padding-right:60px;
}

#phraseB2
{
	text-align:right;
	display: inline-block;
	padding-left:70px;
}

#phraseC2
{
	text-align:left;
	display: inline-block;
	padding-right:80px;
}

#phraseD2
{
	text-align:right;
	display: inline-block;
	padding-left:30px;
	padding-right:30px;
}

#phraseA3
{
	text-align:left;
	display: inline-block;
	padding-right:120px;
}

#phraseB3
{
	text-align:right;
	display: inline-block;
	padding-left:120px;
}

#phraseA4
{
	text-align:left;
	display: inline-block;
	padding-right:80px;
	padding-left: 30px;
}

#phraseA5
{
	text-align:left;
	display: inline-block;
	padding-right:90px;
	padding-left:50px;
}

#phraseB5
{
	text-align:right;
	display: inline-block;
	padding-left:80px;
}

#phraseC5
{
	text-align:left;
	display: inline-block;
	padding-right:100px;
}

#phraseD5
{
	text-align:right;
	display: inline-block;
	padding-left:110px;
}

#phraseA6
{
	text-align:left;
	display: inline-block;
	padding-right:50px;
}

#phraseB6
{
	text-align:right;
	display: inline-block;
	padding-left:50px;
}

#phraseC6
{
	text-align:left;
	display: inline-block;
	padding-left:60px;
}

#phraseD6
{
	text-align:right;
	display: inline-block;
	padding-left:170px;
}

#phraseA7
{
	text-align:left;
	display: inline-block;
	padding-right:50px;
	padding-left:50px;
}

#phraseB7
{
	text-align:right;
	display: inline-block;
	padding-left:100px;
}

#phraseC7
{
	text-align:left;
	display: inline-block;
	padding-right:90px;
}

#phraseD7
{
	text-align:right;
	display: inline-block;
	padding-left:40px;
}

#phraseA9
{
	text-align:left;
	display: inline-block;
	padding-right:10px;
	padding-left:80px;
}

#phraseB9
{
	text-align:right;
	display: inline-block;
	padding-left:20px;
}

#phraseC9
{
	text-align:left;
	display: inline-block;
	padding-right:70px;
	padding-left:50px;
}

#phraseD9
{
	text-align:right;
	display: inline-block;
	padding-left:50px;
	padding-right:30px;
}

img
{
	padding:25px;
	width:20%;
	height:20%;
}
.copyright
{
	font-size: 12px;
	margin-top:1px;
}

#button
{
	width:10%;
	height:10%;
}

#leftArrow
{
	width:30px;
	height:30px;
	padding-top:0px;
	padding:20px;
}

#rightArrow
{
	width:30px;
	height:30px;
	padding-top:0px;
	padding:20px;
}

#submitButton
{
	width:10%;
	height:10%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}